.cookieBanner {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    max-width: 700px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    animation: fadeUp 0.3s ease forwards;
    font-family: 'Jura', sans-serif;
    color: var(--primary);
}

.bannerContent {
    display: flex;


}

.iconWrapper {
    display: flex;
    align-items: center;
}

.icon {
    height: auto; /* на всю высоту контейнера */
    width: 20%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.text {
    font-size: clamp(14px, 1.8vw, 16px);
    line-height: 1.4;
    margin-bottom: 0.5rem;
}

.accept {
    min-width: 140px;
    border-radius: 12px;
    padding: 0.6rem 1.4rem;
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 500;
    cursor: pointer;
    transition: all 0.25s ease;
    border: none;
    background: var(--primary);
    color: white;
}

.accept:hover {
    opacity: 0.9;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translate(-50%, 30px);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@media (max-width: 768px) {
    .cookieBanner {
        bottom: 100px; /* поднимаем на 100px */
        width: calc(100% - 20px);
        padding: 1rem 1.5rem;
    }
    .bannerContent {
        flex-direction: column;
        text-align: center;
    }
    .iconWrapper {
        margin-bottom: 0.5rem;
    }
}
