
.h1 {
    font-size: clamp(22px, 2.5vw, 36px);
    font-weight: bold;
}
.h2 {
    text-align: center;
}
@media (max-width: 1280px) {
    .h3 {
        font-size: clamp(18px, 4vw, 28px);
        font-weight: bold;

    }
}
@media (max-width: 901px) {
    .h1 {
        font-size: clamp(22px, 2.5vw, 36px);
    }
}

.h2 {
    font-size: clamp(20px, 2.5vw, 34px);
    font-weight: bold;
}
@media (max-width: 901px) {
    .h2 {
            font-size: clamp(28px, 6vw, 40px);
        }
}

.h3 {
    font-size: clamp(15px, 2.5vw, 30px);
    font-weight: bold;

}

.h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 8px 0;
}

.h5 {
    font-size: 18px;
    font-weight: 300;
    margin: 8px 0;
}


.uppercase {
    text-transform: uppercase;
}

.color-black {
    color: black;
}

.color-white {
    color: white;
}
.color-primary{
    color: var(--primary);
}


.gradient {
    background: linear-gradient(
            90deg,
            #563D82 0%,   /* Фиолетовый */
            #9678D3 76%,  /* Светло-фиолетовый */
            #656565 100%  /* Серый */
    );
    -webkit-background-clip: text; /* Используем фон внутри текста */
    -webkit-text-fill-color: transparent; /* Делаем текст прозрачным, чтобы был виден градиент */
    display: inline-block; /* Обеспечиваем корректное поведение с текстом */
}

