

/* ------------------------------
   BANNER SECTION (Hero Section)
------------------------------ */

.banner_wrapper {
    margin-top: 130px;
    position: relative;

}

.banner_image {
    width: 100%;
    height: auto; /* пусть сам масштабируется */
    max-height: 600px; /* ограничение только сверху */
    object-fit: cover;
}

.banner_textWrapper {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 100%;
    margin-left: 95px;
    color: var(--black);
    max-width: 50vw;
    max-height: 600px;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    padding-top: 3rem; /* Добавляем отступ сверху */
    padding-bottom: 3rem; /* Добавляем отступ снизу */
}



.text_upper {
    width: 70%;
    height: auto;
    margin-bottom: 10px;
}


.text_description,
.connect_text_description {
    font-size: clamp(16px, 2.2vw, 32px);
    font-weight: 200;
    margin-bottom: 40px;
    color: #FFFFFF;
    margin-top: 10px;
}

.text_button,
.connect_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Центрируем содержимое */
    background: var(--black);
    color: var(--white);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    max-width: 30vw;
    transition: box-shadow 0.3s ease, background 0.3s ease;
    font-size: clamp(22px, 2vw, 28px);
}

.text_button:hover {
    box-shadow: 0 4px 30px var(--primary);
}

.banner_model {
    position: absolute;
    top: -0.5px;
    right: -10%; /* Сдвиг на 5% за правый край */
    transform: scaleX(-1);
    width: auto;
    height: 600px;
    max-height: 100%;
    object-fit: contain;
margin-right: 95px;

}

.desktop {
    display: block;
}
.mobile_button {
    display: none !important;
}

.mobile {
    display: none;
}

@media (max-width: 816px) {
    .banner_wrapper {
        margin-top: 0;
    }
}

@media (max-width: 780px) {
    .banner_image {
        width: auto;
        min-height: 800px; /* Фиксированная высота баннера */

        object-fit: cover; /* Масштабируем изображение */
    }


    .banner_model {
        top: 0;

        left: 55%;
        right: auto;
        transform: translateX(-50%) scaleX(-1);
        height: 300px;
        animation: none;
    }
    .banner_textWrapper {

        transform: none;
        top: 310px;
        left: 0;
        max-width: 100%;
        margin: 0 15px;
        padding: 2rem 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .text_upper {
        margin: 20px 0;
order: 2;
    }

    .desktop {
        display: none !important;
    }
    .mobile_button {
        display: block !important;
        text-align: center;
        order: 4;
    }
    .mobile {
display: block;
        order: 1;
    }
    .text_description {
        order: 3;
    }

}

@media (max-width: 380px) {
    .banner_textWrapper {
        grid-template-rows: 1fr auto 20px auto;
    }
}


/* Анимация появления модели */
@keyframes slideInFromRight {
    from {
        transform: translate(100%, -50%);
        opacity: 0;
    }
    to {
        transform: translate(0, -50%);
        opacity: 1;
    }
}
