.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--brand-light-60);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {

    padding: 32px;
    border-radius: 16px;
    width: 100%;
    max-width: 600px;
    position: relative;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--white) url("/logo.png") no-repeat bottom right;
    background-size: clamp(250px, 20vw, 500px);
}

.title {
    font-size: clamp(14px, 1.7vw, 26px);
    margin-bottom: 20px;
    color: var(--primary);
}

.closeButton {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--primary);
}

.openButton {
    background-color: var(--primary);
    color: var(--white);
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: clamp(14px, 1.5vw, 22px);
    font-weight: 600;
}

.openButtonMobile {
    background-color: var(--primary);
padding: 15px;
    border: none;
    border-radius: 100%;
    cursor: pointer;

}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
}



.submitButton {
    background-color: var(--primary);
    color: var(--white);;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: clamp(14px, 1.5vw, 18px);
}

.inputBox {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

}

.inputBox input,
.inputBox textarea {
    padding: 12px 16px;
    border: 1px solid var(--primary);;
    border-radius: 8px;
    font-size: 16px;
    font-family: inherit;
    background-color: #fff;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    color: var(--primary)

}

.inputBox input:focus,
.inputBox textarea:focus {
    outline: none;
    border-color: var(--primary, #6C63FF);
    box-shadow: 0 0 0 2px rgba(108, 99, 255, 0.2);

}

.inputBox textarea {
    resize: vertical;
    min-height: 100px;
    color: var(--primary);
}

.inputBox input::placeholder,
.inputBox textarea::placeholder {
    color: var(--primary);
    opacity: 1;

}

.error {
    color: red;
    font-size: 14px;
    margin-top: -6px;
    margin-bottom: 10px;
}

.logo {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}


/* --- Media --- */
@media (max-width: 815px) {
    .openButton {
        display: none;
    }
}

@media (min-width: 816px) {
    .openButtonMobile {
        display: none;
    }
}
