
.productPageWrapper {
margin: 0 95px;
    background: transparent;
}

.background {
    position: fixed; /* фиксируем фон */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* уводим за контент */
    pointer-events: none;
}
.background canvas {
    width: 100%;
    height: 100%;
    display: block;
}
@supports (-webkit-backdrop-filter: blur(18px)) {
    .liquidGlass {
        -webkit-backdrop-filter: blur(18px) saturate(160%);
    }
}


.liquidGlass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* прозрачное стекло */
    background: rgba(255, 255, 255, 0.08);

    /* размытие и насыщение */

    backdrop-filter: blur(18px) saturate(160%);


    overflow: hidden;
}

.accordion_wrapper {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 60px auto 0 auto;
}

@media (max-width: 816px) {
    .productPageWrapper {
        margin: 40px 15px 0;
    }
}
